.div-google2 { 

	position: absolute;
	left: 29px;
	top: 84px;
	width: 267px;
	height: 48px;
}

.div-google1 { 

	position: absolute;
	left: 29px;
	top: 45px;
	width: 267px;
	height: 48px;
}

.oversized { 

	font-size:16px;
}

.oversized_grey { 

	font-size:16px;
	color:#999999
}
	
		
.img_map { cursor:pointer;

	position: absolute;
	left: 208px;
	top: 36px;
	z-index:420;

}


.img_dblclick {
	position: absolute;
	left: 29px;
	top: 125px;
	z-index:801;

}



.div-menu { 

	position: absolute;
	left: 16px;
	top: 107px;
	width: 509px;
	font: 11px "Courier New", Courier, mono;
	line-height: 13px;
	}
	
.text-status { cursor:pointer;

	font: bold 20px Helvetica, sans-serif;
}

.text-status-underline { cursor:pointer;

	font: bold 20px Helvetica, sans-serif;
	text-decoration: underline;
}

.img-mood {
	cursor:pointer;
	position: absolute;
	left: 741px;
	top: 45px
}

.img-ok {
	cursor:pointer;
	position: absolute;
	left: 478px;
	top: 45px;
	z-index:2
}

.img_hoodie {
	cursor:pointer;
	position: absolute;
	left: 263px;
	top: 37px;
	z-index:575;
}

.img-colour-picker { cursor:pointer;

	position: absolute;
	left: 673px;
	top: 177px;
	z-index:10

}

.border { cursor:pointer;

border:0px;
}

.img-email-me {
	cursor:pointer;
	position: absolute;
	left: 489px;
	top: 396px;
	z-index:8;
	border: 0
}

.img_info {
	cursor:pointer;
	position: absolute;
	left: 555px;
	top: 419px;
	z-index:630;

}

.marc {
	cursor:pointer;
	position: absolute;
	left: 476px;
	top: 220px;
	z-index:10
}

.img-new { cursor:pointer;

	left: 648px;
	top: 403px;
	position: absolute;
	z-index:11
}

.img-updated { cursor:pointer;

	left: 627px;
	top: 413px;
	position: absolute;
	z-index:12
}

.img-clip-sm-1 {
	cursor:pointer;
	left: 460px;
	top: 456px;
	position: absolute;
	z-index:23
}

.img-clip-sm-2 {
	cursor:pointer;
	left: 483px;
	top: 482px;
	position: absolute;
	z-index:22
}

.img-city-builder {
	cursor:pointer;
	left: 44px;
	top: 655px;
	position: absolute;
	z-index:22
}

.img-manystuff {
	cursor:pointer;
	left: 740px;
	top: 219px;
	position: absolute;
	z-index:21
}

.img-balaclava {
	cursor:pointer;
	left: 44px;
	top: 819px;
	position: absolute;
	z-index:24
}

.img-self-portrait { cursor:pointer;

	left: 866px;
	top: 579px;
	position: absolute;
	z-index:25
}

.img-chick { cursor:pointer;

	left: 694px;
	top: 916px;
	position: absolute;
	z-index:26
}

.img-ab { cursor:pointer;

	left: 469px;
	top: 1020px;
	position: absolute;
	z-index:27
}

.img-bubble { cursor:pointer;

	left: 159px;
	top: 1327px;
	position: absolute;
	z-index:19
}

.flash-sketch-1 { cursor:pointer;

	left: 681px;
	top: 1846px;
	position: absolute;
	z-index:28
}

.img-emit { cursor:pointer;

	left: 434px;
	top: 1543px;
	position: absolute;
	z-index:29
}

.flash-emit { cursor:pointer;

	position:absolute;
	left: 36px;
	top: 44px;
}

.img-leisure-concept { cursor:pointer;

	left: 639px;
	top: 1411px;
	position: absolute;
	z-index:31
}

.img-blink { cursor:pointer;

	position: absolute;

}

.flash-vinyl { cursor:pointer;

	left: 11px;
	top: 1477px;
	position: absolute;
	z-index:31
}

.img_t2here { cursor:pointer;

	left: 72px;
	top: 2141px;
	position: absolute;
	z-index:32
}

.img_t2discoball { cursor:pointer;

	left: 69px;
	top: 2285px;
	position: absolute;
	z-index:33
}

.img_t2me { cursor:pointer;

	left: 245px;
	top: 2267px;
	position: absolute;
	z-index:34
}

.img_t2leen { cursor:pointer;

	left: 253px;
	top: 2256px;
	position: absolute;
	z-index:35
}

.img_t2skull { cursor:pointer;

	left: 68px;
	top: 2437px;
	position: absolute;
	z-index:36
}

.img_t2dark { cursor:pointer;

	left: 253px;
	top: 2428px;
	position: absolute;
	z-index:37
}

.img_darkhorse { cursor:pointer;

	left: 603px;
	top: 1709px;
	position: absolute;
	z-index:20
}

.img_photoshop { cursor:pointer;

	left: 214px;
	top: 2101px;
	position: absolute;
	z-index:6
}

.img_neenday { cursor:pointer;

	left: 753px;
	top: 2211px;
	position: absolute;
	z-index:39
}

.flash_wherever { cursor:pointer;

	left: 548px;
	top: 2241px;
	position: absolute;
	z-index:38
}

.img_snowflake { cursor:pointer;

	left: 468px;
	top: 2660px;
	position: absolute;
	z-index:300
}

.flash_wetpaint { cursor:pointer;

	left: 87px;
	top: 2660px;
	position: absolute;
	z-index:301
}

.flash_wetpaint_2 { cursor:pointer;

	left: 64px;
	top: 2647px;
	position: absolute;
	z-index:302
}

.img_desktop { cursor:pointer;

	left: 247px;
	top: 2924px;
	position: absolute;
	z-index:303
}

.img_digitalclub { cursor:pointer;

	left: 161px;
	top: 2996px;
	position: absolute;
	z-index:304
}

.img_unichef1 { cursor:pointer;

	left: 613px;
	top: 3658px;
	position: absolute;
	z-index:319
}

.img_unichef2 { cursor:pointer;

	left: 731px;
	top: 3804px;
	position: absolute;
	z-index:320
}

.img_killr { cursor:pointer;

	left: 844px;
	top: 3550px;
	position: absolute;
	z-index:307
}

.img_polaroid { cursor:pointer;

	left: 160px;
	top: 3507px;
	position: absolute;
	z-index:308
}

.img_sketch2 { cursor:pointer;

	left: 74px;
	top: 3842px;
	position: absolute;
	z-index:309
}

.img_sketch3 { cursor:pointer;

	position: absolute;
}

.img_imaginarysongs { cursor:pointer;

	left: 54px;
	top: 4915px;
	position: absolute;
	z-index:310;
	width: 1058px;
	height: 174px;
}


.img_16bitgothic { cursor:pointer;

	left: 611px;
	top: 4272px;
	position: absolute;
	z-index:332;
}

.img_thumbnail { cursor:pointer;

	left: 543px;
	top: 4216px;
	position: absolute;
	z-index:331;
}

.img_delvaux { cursor:pointer;

	left: 645px;
	top: 4215px;
	position: absolute;
	z-index:330;
}

.img_copy {
	cursor:pointer;
	left: 166px;
	top: 4308px;
	position: absolute;
	z-index:333;
}

.img_playlist {
	cursor:pointer;
	left: 16px;
	top: 4963px;
	position: absolute;
	z-index:334;
}

.img_stuff {
	cursor:pointer;
	left: 475px;
	top: 5081px;
	position: absolute;
	z-index:335;
}

.img_textblog {
	cursor:pointer;
	left: 845px;
	top: 4955px;
	position: absolute;
	z-index:336;
}

.img_tex2 { cursor:pointer;

	left: 424px;
	top: 4600px;
	position: absolute;
	z-index:337;
}

.img_idea {
	cursor:pointer;
	left: 43px;
	top: 5338px;
	position: absolute;
	z-index:339;
}

.img_3 {
	cursor:pointer;
	left: 598px;
	top: 5262px;
	position: absolute;
	z-index:338;
}

.img_skull { cursor:pointer;

	left: 195px;
	top: 5330px;
	position: absolute;
	z-index:341;
}

.img_bigbutton { cursor:pointer;

	left: 201px;
	top: 5553px;
	position: absolute;
	z-index:340;
}

.img_font1 {
	cursor:pointer;
	left: 898px;
	top: 5655px;
	position: absolute;
	z-index:341;
}

.img_font2 {
	cursor:pointer;
	left: 936px;
	top: 5725px;
	position: absolute;
	z-index:342;
}

.img_you { 
cursor:pointer;

	left: 105px;
	top: 6017px;
	position: absolute;
	z-index:985;
}

.img_access {
	cursor:pointer;
	left: 761px;
	top: 6060px;
	position: absolute;
	z-index:343;
}

.img_clouds1 { cursor:pointer;

	left: 299px;
	top: 6177px;
	position: absolute;
	z-index:344;
}

.img_clouds2 { cursor:pointer;

	left: 299px;
	top: 6067px;
	position: absolute;
	z-index:345;
}

.img_clouds3 { cursor:pointer;

	left: 156px;
	top: 6179px;
	position: absolute;
	z-index:346;
}

.img_clouds4 { cursor:pointer;

	left: 158px;
	top: 6066px;
	position: absolute;
	z-index:347;
}

.img_ideamachine { cursor:pointer;

	left: 98px;
	top: 6374px;
	position: absolute;
	z-index:348;
}

.img_dot {
	cursor:pointer;
	left: 581px;
	top: 6522px;
	position: absolute;
	z-index:349;
}

.img_environ1 { cursor:pointer;

	left: 569px;
	top: 6243px;
	position: absolute;
	z-index:349;
}

.img_environ2 { cursor:pointer;

	left: 562px;
	top: 6361px;
	position: absolute;
	z-index:350;
}

.img_internet { cursor:pointer;

	left: 278px;
	top: 6574px;
	position: absolute;
	z-index:354;
}

.img_eyes { cursor:pointer;

	left: 361px;
	top: 6921px;
	position: absolute;
	z-index:355;
}

.img_swans { cursor:pointer;

	left: 515px;
	top: 6680px;
	position: absolute;
	z-index:352;
}

.img_hotlink { cursor:pointer;

	left: 167px;
	top: 6904px;
	position: absolute;
	z-index:353;
}

.img_sticker1 { cursor:pointer;

	left: 319px;
	top: 7415px;
	position: absolute;
	z-index:358;
}

.img_sticker2 { cursor:pointer;

	left: 489px;
	top: 7508px;
	position: absolute;
	z-index:357;
}

.img_sticker3 { cursor:pointer;

	left: 668px;
	top: 7616px;
	position: absolute;
	z-index:356;
}

.img_guitar { cursor:pointer;

	left: 770px;
	top: 7930px;
	position: absolute;
	z-index:140;
}

.img_steven { cursor:pointer;

	left: 73px;
	top: 7748px;
	position: absolute;
	z-index:359;
}

.img_artwork { cursor:pointer;

	left: 76px;
	top: 8334px;
	position: absolute;
	z-index:360;
}

.img_imagesinthesky { cursor:pointer;

	left: 684px;
	top: 8270px;
	position: absolute;
	z-index:361;
}

.img_madewithamac { cursor:pointer;

	left: 582px;
	top: 8916px;
	position: absolute;
	z-index:54;
	height: 68px;
}

.flash_moreray { cursor:pointer;

	left: 113px;
	top: 6845px;
	position: absolute;
	z-index:400;
}

.img_del { cursor:pointer;

	left: 765px;
	top: 567px;
	position: absolute;
	z-index:401;
}

.img_af8 { cursor:pointer;

	left: 732px;
	top: 949px;
	position: absolute;
	z-index:410;
}

.img_af7 { cursor:pointer;

	left: 746px;
	top: 915px;
	position: absolute;
	z-index:403;
}

.img_af6 { cursor:pointer;

	left: 801px;
	top: 860px;
	position: absolute;
	z-index:404;
}

.img_af5 { cursor:pointer;

	left: 798px;
	top: 946px;
	position: absolute;
	z-index:405;
}

.img_af4 { cursor:pointer;

	left: 736px;
	top: 872px;
	position: absolute;
	z-index:406;
}

.img_af3 { cursor:pointer;

	left: 761px;
	top: 835px;
	position: absolute;
	z-index:407;
}

.img_af2 { cursor:pointer;

	left: 767px;
	top: 907px;
	position: absolute;
	z-index:408;
}

.img_af1 { cursor:pointer;

	left: 769px;
	top: 864px;
	position: absolute;
	z-index:409;
}

.img_af9 { cursor:pointer;

	left: 812px;
	top: 912px;
	position: absolute;
	z-index:375;
}

.img_wysinwyg { cursor:pointer;

	left: 300px;
	top: 4572px;
	position: absolute;
	z-index:411;
}

.img_cd1 {
	cursor:pointer;
	left: 25px;
	top: 219px;
	position: absolute;
	z-index:413;
}

.img_cd2 { cursor:pointer;

	left: 31px;
	top: 229px;
	position: absolute;
	z-index:380;
}

.img_balloon1 { cursor:pointer;

	left: 948px;
	top: 8090px;
	position: absolute;
	z-index:414;
}

.img_balloon2 { cursor:pointer;

	clear:both;
}

.img_myspace { cursor:pointer;

	left: 651px;
	top: 8253px;
	position: absolute;
	z-index:141;
}

.img_mp31 { cursor:pointer;

	left: 745px;
	top: 7978px;
	position: absolute;
	z-index:504;
}

.img_mp32 { cursor:pointer;

	left: 751px;
	top: 7950px;
	position: absolute;
	z-index:503;
}

.img_mp33 { cursor:pointer;

	left: 777px;
	top: 7969px;
	position: absolute;
	z-index:506;
}

.img_mp34 { cursor:pointer;

	left: 711px;
	top: 7991px;
	position: absolute;
	z-index:505;
}

.img_thumb { cursor:pointer;

	left: 84px;
	top: 8605px;
	position: absolute;
	z-index:60;
}



.flashfixerover1 {
	
	left: 0px;
	top: 0px;
	position:absolute;
	z-index:100000000000001
}

.flashfixerover {
	
	left: 0px;
	top: 0px;
	position:absolute;
	z-index:100000000000000
}
.img_cat { cursor:pointer;

	left: 769px;
	top: 7566px;
	position: absolute;
	z-index:61;
}

.img_owl {
	cursor:pointer;
	left: 768px;
	top: 6003px;
	position: absolute;
	z-index:62;
}

.img_girl { cursor:pointer;

	left: 368px;
	top: 2151px;
	position: absolute;
	z-index:5;
}

.img_mario { cursor:pointer;

	left: 741px;
	top: 8472px;
	position: absolute;
	z-index:64;
}

.img_tooth { cursor:pointer;

	left: 167px;
	top: 7803px;
	position: absolute;
	z-index:65;
}

.img_am { cursor:pointer;

	left: 251px;
	top: 8461px;
	position: absolute;
	z-index:600;
}

.img_pm { cursor:pointer;

	left: 230px;
	top: 8442px;
	position: absolute;
	z-index:599;
}

.img_dvd { cursor:pointer;

	left: 85px;
	top: 445px;
	position: absolute;
	z-index:412;
}

.img_damien { cursor:pointer;

	left: 758px;
	top: 8663px;
	position: absolute;
	z-index:602;
}

.img_concept { cursor:pointer;

	left: 142px;
	top: 8755px;
	position: absolute;
	z-index:603;
}

.img_finding {
	cursor:pointer;
	left: 109px;
	top: 1243px;
	position: absolute;
	z-index:604;
}

.doubleclick { cursor:pointer;

	font:"Courier New", Courier, monospace;
	font-size:11px;
	left: 103px;
	top: 163px;
	position: absolute;
	z-index:800;
	background-color: #FFFF00;
	padding:4px
}

.img_search { cursor:pointer;

	left: 292px;
	top: 51px;
	position: absolute;
	z-index:606;
}

.img_tonepoem { cursor:pointer;

	left: 835px;
	top: 3235px;
	position: absolute;
	z-index:607;
}
.img_shirts {
	cursor:pointer;
	left: 903px;
	top: 4620px;
	position: absolute;
	z-index:700;
}
